<!DOCTYPE html>
<html>
  <head>
    <link href="//acei.us/assets/css/w3.css" rel="stylesheet" type="text/css" />
    <link href="assets/style.css" rel="stylesheet" type="text/css" />

    <title>{{ title }} - Zircon Community Forum</title>
    <link rel="shortcut icon" href="icon.webp" />
    <meta name="description" content="Please note that the Zircon Community Forum is in no way associated with the Zircon moderation team." />
    <meta charset="utf-8" />

    <style>
      .ft-table {
        padding-top: 32px !important;
        padding-bottom: 32px !important;
        padding: 10%;
      }
    </style>
  </head>

  <body class="black parallax" style="background-image: url('data/images/background.png');">
    <header id="top">
      {% block header %}
        <div class="center container">
          <h1>{{ title }}</h1>
        </div>
      {% endblock %}
    </header>
    <div id="app" class="text-light-grey container ft-table">
      {% block content %}
        <p>Default Content.</p>
      {% endblock %}
    </div>
    <footer>
      <div>
        <div class="bar container">
          <a href="#top" class="bar-item button">Back to Top</a>
        </div>

        <div class="container">
          <p>
            The Zircon Community Forum is an Acei.us service. Please consider <a href="https://acei.us/index.php/donate">donating</a> to keep it running.
          </p>
        </div>
      </div>
    </footer>
  </body>
</html>
