{% extends '_base.twig' %}

{% block content %}
  <div class="row">
    {% for regular in regulars %}
      <div class="quarter">
        <div class="rounded margin card-4 sidewalk row">
          <img src="{{ regular['userpic'] }}" class="rounded quarter" />
          <div class="threequarter">
            <div class="container center">
              <p>{{ regular['username'] }}: {{ regular['userdesc'] }}</p>
              <a href="//stuffby.acei.us/foxtrot" class="rounded red button">View Counter</a>
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
    {# you people - dunken #}
  </div>
{% endblock %}
