{% extends '_base.twig' %}

{% block content %}
  <table class="black table card-4 round-xlarge">
    <tr>
      <th>Incident</th>
      <th>Date</th>
    </tr>
    {% for incident in incidents %}
      <tr class="indigo">
        <td>
          <p>{{ incident['desc']|raw }}</p>
        </td>
        <td>{{ incident['time'] }}</td>
      </tr>
    {% endfor %}
    <tr>
      <td>
        Email <code>aceius@acei.us</code> if at any point this info is inaccurate.
      </td>
    </tr>
  </table>
{% endblock %}
